@using Microsoft.AspNetCore.Identity
@using CMS.Utility

@{
    ViewData["Title"] = "Home Page";
}
@inject UserManager<IdentityUser> UserManager

@if (Context.User.Identity.IsAuthenticated)
{
    @if (User.IsInRole(SD.Role_Admin))
    {
        <script>window.location.href = '/AdminPanel';</script>
    }
    <div class="text-center">
        <h1 class="display-4">Welcome <strong>@UserManager.GetUserName(User)</strong></h1>
    </div>
}
else
{
    // Redirect to the login page
    <script>window.location.href = 'Identity/Account/Login';</script>
}
