@model CMS.Models.CourseSessionalTable

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>CourseSessionalTable</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CourseRegistrationID" class="control-label"></label>
                <select asp-for="CourseRegistrationID" class="form-control">
                    <option value="">-- Select Course Registration --</option>
                    @foreach (var item in ViewBag.CourseRegistrations)
                    {
                        <option value="@item.CourseRegistrationID">@item.CourseRegistrationID</option>
                    }
                </select>
                <span asp-validation-for="CourseRegistrationID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SessionalName" class="control-label"></label>
                <input asp-for="SessionalName" class="form-control" />
                <span asp-validation-for="SessionalName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ObtainedMarks" class="control-label"></label>
                <input asp-for="ObtainedMarks" class="form-control" />
                <span asp-validation-for="ObtainedMarks" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalMarks" class="control-label"></label>
                <input asp-for="TotalMarks" class="form-control" />
                <span asp-validation-for="TotalMarks" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Weightage" class="control-label"></label>
                <input asp-for="Weightage" class="form-control" />
                <span asp-validation-for="Weightage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
