@model List<CMS.ViewModels.StudentGroupViewModel>

<h1>Grouped Students</h1>

@foreach (var campusGroup in Model.GroupBy(m => m.CampusName))
{
    <div class="card mb-3">
        <div class="card-header">
            <h2>@campusGroup.Key</h2>
        </div>
        <div class="card-body">
            <div class="row">
                @foreach (var batchGroup in campusGroup.GroupBy(c => c.BatchName))
                {
                    <div class="col-md-4">
                        <div class="card mb-3">
                            <div class="card-header">
                                <h3>@batchGroup.Key</h3>
                            </div>
                            <div class="card-body">
                                @foreach (var sectionGroup in batchGroup.GroupBy(b => b.SectionName))
                                {
                                    <div class="card mb-3">
                                        <div class="card-header">
                                            <h4>@sectionGroup.Key</h4>
                                        </div>
                                        <div class="card-body">
                                            <div class="d-flex gap-3">
                                                <a href="@Url.Action("ViewStudents", "BatchSectionSemester", new { sectionId = sectionGroup.First().Students.First().SectionID, batchId = sectionGroup.First().Students.First().BatchID, campusId = sectionGroup.First().Students.First().CampusID })" class="btn btn-secondary">View Students</a>
                                                <a href="#" class="btn btn-success">Promote to Next Semester</a>
                                            </div>                                           
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
}
