@{
    ViewData["Title"] = "Admin Panel";
}

<div class="d-flex list-group-item justify-content-between align-items-center bg-light p-3 mb-3">
    <h1 class="mb-0">Admin Panel</h1>
    <a class="btn btn-secondary" asp-controller="BatchSectionSemester" asp-action="index">All Batches</a>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="list-group">
            <a class="list-group-item list-group-item-action" asp-area="" asp-controller="Campus" asp-action="Index">Campus</a>
            <a class="list-group-item list-group-item-action" asp-area="" asp-controller="Batches" asp-action="Index">Batches</a>
            <a class="list-group-item list-group-item-action" asp-area="" asp-controller="Sessions" asp-action="Index">Sessions</a>
        </div>
    </div>
    <div class="col-md-4">
        <div class="list-group">
            <a class="list-group-item list-group-item-action" asp-area="" asp-controller="Students" asp-action="Index">Students</a>
            <a class="list-group-item list-group-item-action" asp-area="" asp-controller="Teachers" asp-action="Index">Teachers</a>
            <a class="list-group-item list-group-item-action" asp-area="" asp-controller="Courses" asp-action="Index">Courses</a>
        </div>
    </div>
    <div class="col-md-4">
        <div class="list-group">
            <a class="list-group-item list-group-item-action" asp-area="" asp-controller="Departments" asp-action="Index">Departments</a>
            <a class="list-group-item list-group-item-action" asp-area="" asp-controller="Sections" asp-action="Index">Sections</a>
            <a class="list-group-item list-group-item-action" asp-area="" asp-controller="Transcripts" asp-action="Index">Transcripts</a>
        </div>
    </div>
</div>
<div class="row mt-4">
    <div class="col-md-4">
        <div class="list-group">
            <a class="list-group-item list-group-item-action" asp-area="" asp-controller="Grades" asp-action="Index">Grades</a>
            <a class="list-group-item list-group-item-action" asp-area="" asp-controller="CourseSessionalTables" asp-action="Index">Course Sessional Tables</a>
        </div>
    </div>
    <div class="col-md-4">
        <div class="list-group">
            <a class="list-group-item list-group-item-action" asp-area="" asp-controller="CourseRegistrations" asp-action="Index">Course Registrations</a>
            <a class="list-group-item list-group-item-action" asp-area="" asp-controller="SemesterRegistrations" asp-action="Index">Semester Registrations</a>
        </div>
    </div>
</div>
