<h1>Admin Panel</h1>

<div>
    <a class="nav-link text-dark" asp-area="" asp-controller="Students" asp-action="Index">Students</a>
    <a class="nav-link text-dark" asp-area="" asp-controller="Teachers" asp-action="Index">Teachers</a>
    <a class="nav-link text-dark" asp-area="" asp-controller="Courses" asp-action="Index">Courses</a>
    <a class="nav-link text-dark" asp-area="" asp-controller="Departments" asp-action="Index">Departments</a>
    <a class="nav-link text-dark" asp-area="" asp-controller="Sections" asp-action="Index">Sections</a>
    <a class="nav-link text-dark" asp-area="" asp-controller="Campus" asp-action="Index">Campus</a>
    <a class="nav-link text-dark" asp-area="" asp-controller="Batches" asp-action="Index">Batches</a>
    <a class="nav-link text-dark" asp-area="" asp-controller="Transcripts" asp-action="Index">Transcripts</a>
    <a class="nav-link text-dark" asp-area="" asp-controller="Grades" asp-action="Index">Grades</a>
    <a class="nav-link text-dark" asp-area="" asp-controller="CourseRegistration" asp-action="Index">Course Registration</a>
    <a class="nav-link text-dark" asp-area="" asp-controller="CourseSessionalTables" asp-action="Index">Course Sessional Tables</a>
    <a class="nav-link text-dark" asp-area="" asp-controller="SemesterRegistrations" asp-action="Index">Semester Registrations</a>
    <a class="nav-link text-dark" asp-area="" asp-controller="Sessions" asp-action="Index">Sessions</a>
</div>
